# $\log_b n$

***

$ 2^4 = 2 \times 2 \times 2 \times 2 = 16$

$2^{-4} = \frac{1}{2^4}$

$2^4 \times 2^{-4} = 2^{4 + (-4)} = 2^{0} = 1 $

$ 2^{0.5} = \sqrt{2}$

In [4]:
2 ** 4

16

In [5]:
2 **(-4)

0.0625

In [6]:
2 ** (0.5)

1.4142135623730951

<br>

$ b^a = n \Leftrightarrow \log_b n = a$

$ 2^4 = 16 \Leftrightarrow \log_2 16 = 4$

In [7]:
import math

In [8]:
math.log(16, 2)

4.0

# Height of Binary Tree

***

In [8]:
# Length of the List
n = 31
#Create a list of length n
L = list(range(n))
#show list
print(L)
#Draw the tree from L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [16]:
2**0 + 2**1 + 2**2 + 2**3 + 2**4

31

In [11]:
def max_list_length(height):
    total_nodes = 0
    for i in range(height + 1):
        total_nodes = total_nodes + 2**i
    return total_nodes

In [14]:
max_list_length(4)

31

In [15]:
max_list_length(10)

2047

$ 2^{h+1} - 1 = \sum_{i=0}^h 2^i $

In [18]:
2**5

32

In [19]:
2**11

2048

In [32]:
0b011111111

255

In [24]:
(1 * 2**7) + (1 * 2**6) + (1 * 2**5)+ (1 * 2**4)+ (1 * 2**3)+ (1 * 2**2)+ (1 * 2**1)+ (1 * 2**0)

255

In [27]:
def max_list_length(height):
    return 2**(height+1) -1

In [28]:
max_list_length(4)

31

In [29]:
max_list_length(10)

2047

In [31]:
0b100000000

256

In [41]:
import math
for length in range(32, 0, -1):
    print(f'{length:2}\t {math.log(length, 2):2.3}')

32	 5.0
31	 4.95
30	 4.91
29	 4.86
28	 4.81
27	 4.75
26	 4.7
25	 4.64
24	 4.58
23	 4.52
22	 4.46
21	 4.39
20	 4.32
19	 4.25
18	 4.17
17	 4.09
16	 4.0
15	 3.91
14	 3.81
13	 3.7
12	 3.58
11	 3.46
10	 3.32
 9	 3.17
 8	 3.0
 7	 2.81
 6	 2.58
 5	 2.32
 4	 2.0
 3	 1.58
 2	 1.0
 1	 0.0

# Big O

***

In [4]:
#x = np.arange(0.0,10.0,0.1)

#y1 = x**2

#y2 = x * np.log(x)

In [6]:
#plt.plot(x, y1, label='$n^2$')
#plt.plot(x, y2, label='$n \log(n)$')

#plt.legend()

**DEF**

$ f(n) = x^2 $ is $ O(g(n)) $ where $ g(n) = x^3$

because

$ 1 \times g(n) > f(n) $ for all $n > 1$

where

$n_0 = 1$ in this case.

technically $2n^2$ is $O(n^2)$ even though

In [7]:
#n = np.arange(0.0, 2.1, 0.01)

#plt.plot(n, 2.0 * (n**2), label='$2n^2$')
#plt.plot(x, n**2, label='$n^2$')

#plt.legend()

$ n \times \log(n) $ + $n \times \log(n) = 2 \log(n) $

$2 n \log(n)$ is O(n\log(n))